CONFIG_COMMON=./config/common.yaml

DB_PASSWORD=postgres

JWT_ACCESS_SECRET=super_random_long_access_secret_123
JWT_REFRESH_SECRET=super_random_long_refresh_secret_123

MAILER_BYPASS=false

S3_ACCESS_KEY_ID=barter-port-s3
S3_SECRET_ACCESS_KEY=barter-port-s3-secret
S3_REGION=us-east-1
